{% extends 'layout.html.twig' %}

{% block title %}Rapport specifique{% endblock %}

{% block body %}

    <h3 style="padding:25px; text-align:center; color: #171a1d; font-weight: bold">Informations de L'agent {{ rapportSpecifique.nomAgent }}</h3>

    <table class="table table-light table-striped table-bordered table-responsive-md">
        <tr>
            <th scope="col">Mail agent</th>
            <td class="text-left">{{ rapportSpecifique.mailAgent }}</td>
        </tr>
        <tr>
            <th scope="col">Telephone agent</th>
            <td class="text-left">{{ rapportSpecifique.telephoneAgent }}</td>
        </tr>
        <tr>
            <th scope="col">Adresse agent</th>
            <td class="text-left">{{ rapportSpecifique.adresseAgent }}</td>
        </tr>
    </table>

    <h3 style="padding:25px; text-align:center; color: #171a1d; font-weight: bold">Le Rapport specifique de {{ rapportSpecifique.joueur }}</h3>

    <table class="table table-light table-striped table-bordered table-responsive-md">
        <tr>
            <th scope="col">Date Du rapport</th>
            <td class="text-left">{{ rapportSpecifique.dateRapport ? rapportSpecifique.dateRapport|date('d/m/Y') : '' }}</td>
        </tr>
        <tr>
            <th scope="col">Match</th>
            <td class="text-left">{{ rapportSpecifique.equipe1 }} vs {{ rapportSpecifique.equipe2 }} </td>
        </tr>
        <tr>
            <th scope="col">Joueur</th>
            <td class="text-left">{{ rapportSpecifique.joueur }}</td>
        </tr>
        <tr>
            <th scope="col">Note</th>
            <td class="text-left">{{ rapportSpecifique.noteJoueur }}</td>
        </tr>
        <tr>
            <th scope="col">Qualite technique</th>
            <td class="text-left">{{ rapportSpecifique.qualiteTechnique }}e indusook a galley of type and scramblimen book. It has</td>
        </tr>
        <tr>
            <th scope="col">Qualite mentale</th>
            <td class="text-left">{{ rapportSpecifique.qualiteMentale }}Loretry's standard dummy nter took a galley o</td>
        <tr>
            <th scope="col">Qualite physique</th>
            <td class="text-left">{{ rapportSpecifique.qualitePhysique }}Lorem Ipsum is simply dummy text o</td>
        <tr >
            <th scope="col">Qualite tactique</th>
            <td class="text-left">{{ rapportSpecifique.qualiteTactique }}Lorem Ipsum passages, and mop publiing versions of Lorem Ipsum. </td>
        </tr>
    </table>

            <a style="margin-left:20px;"class="btn btn-info" href="#">Convertir en PDF</a>

    <a  class="btn btn-info" href="{{ path('rapportSpecifiques_edit', {'id': rapportSpecifique.id}) }}"><i class="fa fa-pencil"> Modifier Le Rapport</i></a>
    <a style="width: 300px;" class="btn btn-warning center-block size" href="{{ path('rapportSpecifiques_show') }}">Revenir à la liste des Rapports</a>

{% endblock %}
