{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post" class="d-flex flex-column justify-content-center" id="login-box">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
        </div>
    {% endif %}



    <div class="login-box-header">
        <h4 style="color: rgb(139,139,139);margin-bottom: 0px;font-weight: 400;font-size: 27px;padding-top:10px;">Connexion</h4>
    </div>
    <div class="login-box-content" style="">
        <div class="fb-login box-shadow"></div>
        <div class="gp-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" style="" href="{{ path('google_connect') }}"><img src="{{ asset('images/google-logo.png') }}" style="color:rgb(255,255,255);width:56px;"></i>Connection avec Google</a></div>
    </div>
    <div class="d-flex flex-row align-items-center login-box-seperator-container">
        <div class="login-box-seperator"></div>
        <div class="login-box-seperator-text">
            <p style="margin-bottom:0px;padding-left:10px;padding-right:10px;font-weight:400;color:rgb(201,201,201);">ou</p>
        </div>
        <div class="login-box-seperator"></div>
    </div>
    <div class="email-login" style="background-color:#ffffff;"><input type="email" class="email-imput form-control" style="margin-top:10px;" required placeholder="Email" minlength="6" /><input type="password" class="password-input form-control" style="margin-top:10px;" required placeholder="Mot de passe" minlength="6"
        /></div>
    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
    <div class="submit-row" style="margin-bottom:8px;padding-top:0px;"><button class="btn btn-primary btn-block box-shadow" id="submit-id-submit" type="submit">Connexion</button>
        <div class="d-flex justify-content-between">
            <div class="form-check form-check-inline" id="form-check-rememberMe"><input class="form-check-input" type="checkbox" id="formCheck-1" for="remember" style="cursor:pointer;" name="check" /><label class="form-check-label" for="formCheck-1"><span class="label-text">Se rappeler de moi</span></label></div><a id="forgot-password-link"
                href="#">Mot de passe oublié ?</a></div>
    </div>
    <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
        <p style="margin-bottom:0px;">Vous n'avez pas de compte ?<a id="register-link" href="#">S'inscrire</a></p>
    </div>
</form>



{# <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    {#<button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>

    <p>
        <a href="{{ path('google_connect') }}">Ce connecter avec google</a>
    </p>
</form> #}
{% endblock %}
