{% extends 'layout.html.twig' %}

{% block title %}Rapport de Match{% endblock %}

{% block body %}


    <div>
        <br>
        <br>
        <h1 style="text-align: center; color: #171a1d; font-weight: bold">Informations du Match</h1>
        <br>
        <div style="border: 20px;">
            {{ include('rapportMatch/match/showMatch.html.twig') }}
         </div>
        <br>
        {% if equipe2 is null and equipe1 is null  %}
            <a class="btn btn-warning center-block" href="{{ path('club_add_matchs' , {'id': match.id }) }}">Selectioner les équipes</a>
        {% else %}
            <a class="btn btn-success center-block" href="{{ path('club_add_matchs' , {'id': match.id }) }}">Modifier les équipes</a>
            <a class="btn btn-warning center-block" href="{{ path('tactique_add_matchs' , {'id': match.id } )}}">Modifier les Tactiques</a>
        {% endif %}
    </div>

        <div style="background-color: #353b48;">
            <br>
            <h2 style="text-align: center; color: #F9F9FF; font-weight: bold">Equipe 1 :
                {% if equipe1 is not null %}
                    {{ equipe1.nomClub }}
                {% else%}
                    Pas de Club
                {% endif %}
            </h2>
            <br>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <table  style="background-color: snow; " class="table table-bordered table-striped table-condensed ">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th class="numeric">Poste</th>
                                <th class="numeric">Numéro</th>
                                <th class="numeric">But</th>
                                <th class="numeric">Passe D</th>
                                <th class="numeric">Carton J</th>
                                <th class="numeric">Carton R</th>
                                <th class="numeric">Temps de Jeu</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td class="numeric">2</td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td class="numeric">2</td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td class="numeric">2</td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td class="numeric">2</td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class="btn btn-warning">+</button>
                            <label>Ajouter</label>
                        </div>
                    </div>
                    <div class="col-lg-4" style="padding: 0">
                        <h4 style="text-align: center; color: #F9F9FF; font-weight: bold">Tactique :
                            {% if tactique1 is not null %}
                                {{ tactique1.nomTactique }}
                                {% if tactique1 == "4 4 2" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain1/matchPosTerrain1442.css') }}">
                                {% endif %}
                                {% if tactique1 == "4 3 3" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain1/matchPosTerrain1433.css') }}">
                                {% endif %}
                                {% if tactique1 == "5 4 1" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain1/matchPosTerrain1541.css') }}">
                                {% endif %}
                                {% if tactique1 == "5 3 2" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain1/matchPosTerrain1532.css') }}">
                                {% endif %}
                                {% if tactique1 == "4 4 1 1" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain1/matchPosTerrain14411.css') }}">
                                {% endif %}
                            {% else%}
                                Pas de Tactique
                            {% endif %}
                        </h4>
                        <div id="terrain1">
                            <img id="targets1" src="{{ asset('images/terrain.png') }}" alt="" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <h2 style="text-align: center; color: #F9F9FF; font-weight: bold">Equipe 2 :
                {% if equipe2 is not null %}
                    {{ equipe2.nomClub }}
                {% else%}
                    Pas de Club
                {% endif %}
            </h2>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <table  style="background-color: snow; " class="table table-bordered table-striped table-condensed ">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th class="numeric">Poste</th>
                                <th class="numeric">Numéro</th>
                                <th class="numeric">But</th>
                                <th class="numeric">Passe D</th>
                                <th class="numeric">Carton J</th>
                                <th class="numeric">Carton R</th>
                                <th class="numeric">Temps Jeux</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td>
                                    <img class="element" draggable="true" ondragstart="dragstart_handler(event)" id="joueur8" style="width: 50px; height: 50px; " src="{{ asset('images/numero.png') }}" alt="">
                                </td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td class="numeric">2</td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td class="numeric">2</td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            <tr>
                                <td>Nom Prénom</td>
                                <td class="numeric">Attaquant</td>
                                <td class="numeric">2</td>
                                <td class="numeric">19</td>
                                <td class="numeric">2</td>
                                <td class="numeric">0</td>
                                <td class="numeric">0</td>
                                <td class="numeric">34`</td>
                            </tr>
                            </tbody>
                        </table>
                        <div>
                            <button class="btn btn-warning">+</button>
                            <label> Ajouter</label>
                        </div>
                    </div>

                    <div class="col-lg-4" style="padding: 0">
                        <h4 style="text-align: center; color: #F9F9FF; font-weight: bold">Tactique :
                            {% if tactique2 is not null %}
                                {{ tactique2.nomTactique }}
                                {% if tactique2 == "4 4 2" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain2/matchPosTerrain2442.css') }}">
                                {% endif %}
                                {% if tactique2 == "4 3 3" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain2/matchPosTerrain2433.css') }}">
                                {% endif %}
                                {% if tactique2 == "5 4 1" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain2/matchPosTerrain2541.css') }}">
                                {% endif %}
                                {% if tactique2 == "5 3 2" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain2/matchPosTerrain2532.css') }}">
                                {% endif %}
                                {% if tactique2 == "4 4 1 1" %}
                                    <link rel="stylesheet" href="{{ asset('css/terrain2/matchPosTerrain24411.css') }}">
                                {% endif %}
                            {% else%}
                                Pas de Tactique
                            {% endif %}
                        </h4>

                        <body>
                        <div id="listeJoueurs">
                        </div>
                        <button id="reset" onclick="reset()">Reset</button>
                        <div id="terrain2">
                            <img id="targets2" src="{{ asset('images/terrain.png') }}" alt="" style="width: 100%">
                        </div>
                        </body>
                    </div>
                </div>
            </div>
        </div>

    <br>
    <br>
    <br>
    <div>
        <h1 style="text-align: center; color: #171a1d; font-weight: bold">Les Commentaires</h1>
        <br>
        <br>
        <h3 style="text-align: center">Ajouter un commentaire</h3>
        {{ include('rapportMatch/commentaire/_form.html.twig') }}
        <br>
        <br>

        <div class="" style="padding:0px 7em; ">
            <table class="table table-striped  " style="border-radius: 10px;box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); text-align: center; background-color: #dcdde1;">
                <thead class="thead-dark">
                <tr style="color: #171a1d; text-align: center; "  class="table-secondary">
                    <th style="text-align: center; font-weight: bold; font-size: 20px;" scope="col">Texte</th>
                    <th style="text-align: center; font-weight: bold; font-size: 20px;" scope="col">Minutes de Commentaire</th>
                </tr>
                </thead>
                <tbody>
                {% for commentaire in commentaires %}
                    <tr  style="color: #171a1d"  class="text-center">
                        <td  contenteditable="true" >{{ commentaire.texte }}</td>
                        <td>{{ commentaire.minuteCommentaire }} minutes</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">Aucun Commentaire</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
        </div>
    </div>
    <br>
    <h2 style="text-align: center; width: 200px;  " class="btn btn-warning center-block size">Enregistrer le rapport</h2>
    <br>
    <br>








{% endblock %}


