{% extends 'layout.html.twig' %}


{% block title %}Joueur{% endblock %}

{% block body %}

    <br>
    <br>

    <br>
    <br>
    <div id="identityCard">
        <div id="headerCard">
            <div id="photoCard">
                <td>
                    <img style="width:60px;height:60px;border-radius: 2em;" alt="" src="{{ asset('images/') }}{{ joueur.photo }}">
                </td>
            </div>
            <div id="texteCardHeader">
                <div id="col1Card">
                    {{ joueur.prenom }}<br>
                    {{ joueur.nom }}<br>
                    <div style="font-size: 20px" >{{ joueur.age }} ans</div><br>
                </div>
                <div id="col2Card">
                    Date de naissance : {{ joueur.dateNaissance ? joueur.dateNaissance|date('Y-m-d') : '' }}<br>
                    Professionnel : {{ joueur.pro ? 'Oui' : 'Non' }}<br>
                    Téléphone : {{ joueur.telephone }}
                </div>
                <div id="col3Card">
                    Poids : {{ joueur.poids }} kg <br>
                    Taille : {{ joueur.taille }} cm <br>
                    Nationalité : {{ joueur.nationalite }}
                </div>
            </div>
        </div>
        <div id="infosCard">
            <div style="float: left">
                <div id="cRouge">
                    {% if joueur.nbCartonRouge > 0 %}
                        {{ joueur.nbCartonRouge }} <img src="{{ asset('images/') }}cRouge.png" title="{{ joueur.nbCartonRouge }}" width="10px">
                    {% else %}
                        Aucun carton rouge
                    {% endif %}
                </div>
                <br>
                <div id="cJaune">
                    {% if joueur.nbCartonJaune > 0 %}
                        {{ joueur.nbCartonJaune }} <img src="{{ asset('images/') }}cJaune.png" title="{{ joueur.nbCartonJaune }}"  width="10px">
                    {% else %}
                        Aucun carton jaune
                    {% endif %}
                </div>
                <br>
                Nombre de passes décisives : {{ joueur.nbPasseDecissive }}<br>
            </div>
            <div style="float: right">
                Nombre de titularisation : {{ joueur.titulaireNombre }}<br><br>
                Numéro : {{ joueur.numero }}<br><br>
                Nombre de buts : {{ joueur.nbBut }}<br>
            </div>

            <div id="separator">
                <a href="{{ path('rapportSpecifiques_show' , {'searchBarre' : joueur.nom}) }}" id="boutonsJoueur" style="left: 0px;top:20px;position: relative;display: inherit" class="btn btn-info">Rapports spécifiques</a>
            </div>
        </div>

    </div>

{% endblock %}
