{% extends 'layout.html.twig' %}

{% block title %}Les Joueurs{% endblock %}

{% block body %}

    <h1 style="text-align: center">Listes des Joueurs</h1>
    <br>
    <table style="text-align: center" class="table" >
        <thead>
        <tr class="table-secondary">
            <th>Nom</th>
            <th>Prénom</th>
            <th>Age</th>
            <th>Pro</th>
            <th>Photo</th>
            <th>Club</th>
            <th>Details Joueur</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                <td>{{ joueur.nom }}</td>
                <td>{{ joueur.prenom }}</td>
                <td>{{ joueur.age }}</td>
                <td>{{ joueur.pro ? 'Oui' : 'Non' }}</td>
                <td>
                    <img style="width:60px;height:60px;  "  alt="" src="{{ asset('images/') }}{{ joueur.photo }}">
                </td>
                <td>Aucun club </td>
                <td>
                    <a class="btn btn-info" href="{{ path('joueur_show', {'id': joueur.id}) }}">Informations</a>
                </td>

                <td>
                    <a  class="btn btn-info" href="{{ path('joueur_edit', {'id': joueur.id}) }}">Modifier</a>
                </td>
                <td>
                    <form method="post" action="{{ path('joueur_delete', {'id': joueur.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce joueurs');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
                        <button class="btn btn-info">Supprimer</button>
                    </form>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun Joueurs de trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('joueurs_add') }}">Ajouter un Joueur</a>


{% endblock %}


