{% extends 'layout.html.twig' %}


{% block title %}Joueur{% endblock %}

{% block body %}

    <br>
    <br>

    <br>
    <br>
    <div id="identityCard">
        <div id="headerCard">
            <div id="photoCard">
                <td>
                    <img style="width:60px;height:60px;border-radius: 2em;" alt="" src="{{ asset('images/') }}{{ joueur.photo }}">
                </td>
            </div>
            <div id="texteCardHeader">
                <div id="col1Card">
                    {{ joueur.prenom }}<br>
                    {{ joueur.nom }}<br>
                    <div style="font-size: 20px" >{{ joueur.age }} ans</div><br>
                </div>
                <div id="col2Card">
                    Date de naissance : {{ joueur.dateNaissance ? joueur.dateNaissance|date('Y-m-d') : '' }}<br>
                    Nationalité : {{ joueur.nationalite }}<br>
                    Professionnel {{ joueur.pro ? 'Oui' : 'Non' }}
                </div>
                <div id="col3Card">
                    Poids : {{ joueur.poids }} kg <br>
                    Taille : {{ joueur.taille }} cm <br>
                </div>
            </div>
        </div>
        <div id="infosCard">
            <table>
                Titulaire : {{ joueur.titulaireNombre }}<br>
                Numéro : {{ joueur.numero }}<br>
                Nombre de passes décisives : {{ joueur.nbPasseDecissive }}<br>
                Nombre de cartons rouges : {{ joueur.nbCartonRouge }}<br>
                Nombre de cartons jaunes : {{ joueur.nbCartonJaune }}<br>
                Nombre de buts : {{ joueur.nbBut }}<br>
                Numéro de téléphone : {{ joueur.telephone }}
            </table>
            <div id="separator">
                <a href="#" id="boutonsJoueur" style="left: 20px;top:20px;position: relative" class="btn btn-info">Les Informations</a>
                <a href="#" id="boutonsJoueur" style="left: 30px;top:20px;position: relative" class="btn btn-info">Rapports spécifiques</a>
                <a href="#" id="boutonsJoueur" style="left: 40px;top:20px;position: relative" class="btn btn-info">Les Vidéos</a>
            </div>
        </div>

    </div>

{% endblock %}
