{% form_theme formClub 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div style="text-align: center; margin-left: 20%; margin-right: 20%; border: 2mm ridge rgba(70,130,180 , 2); background-color: #9fa9b7">
        {{ form_start(formClub) }}
        <div class="row" style="margin: 3% ">
            <div class="col">
                <div style="color: #696969; font-size: 18px;">
                    {{ form_label(formClub.club_first) }}
                </div>
                {{ form_widget(formClub.club_first) }}
            </div>
            <div class="col">
                <div style="color: #696969; font-size: 18px;">
                    {{ form_label(formClub.club_second) }}
                </div>
                {{ form_widget(formClub.club_second) }}
            </div>

        </div>

        <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
        {{ form_end(formClub) }}

    </div>
    <br>

{% endblock %}
