{% block body %}

    <table class="table"  style=" margin-left: 25%; width: 50%; border-radius: 20px ;box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); background-color: #2f3640;">
        <tbody style="text-align: center; color: #F9F9FF;  padding-bottom: 20px">

        <tr>
            <th style="text-align: center; font-size: 20px ">Lieux</th>
            <td>{{ match.lieux }}</td>
        </tr>
        <tr>
            <th style="text-align: center; font-size: 20px" >Conditions</th>
            <td>{{ match.conditions }}</td>
        </tr>
        <tr>
            <th style="text-align: center; font-size: 20px" >Date</th>
            <td>{{ match.date ? match.date|date('d/m/Y') : '' }}</td>
        </tr>

        <tr>
            <th style="text-align: center; font-size: 20px" >Pays</th>
            <td>France</td>
        </tr>

        <tr>
            <th style="text-align: center; font-size: 20px" >Tournoi</th>
            <td>{{ match.tournoi }}</td>
        </tr>

        <tr>
            <th style="text-align: center; font-size: 20px" >Equipes </th>
            <td>{{ equipe1 }}  | {{ equipe2 }}</td>
        </tr>

        </tbody>
    </table>

{% endblock %}
