{#https://getbootstrap.com/docs/4.0/components/navbar/#}
    <nav class="navbar navbar-expand-lg navbar-light bg-light  bg-secondary text-uppercase " id="mainNav" style="background-color: #004b9a;">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ path('index_index') }}" style="color: rgb(244,248,33);margin: 14px;">
                <img style="width:60px;height:80px; " src="{{ asset('images/logo_fc_sochaux.png') }}" > FC SOCHAUX</a>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="width: 769px;height: 67px;">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('rapportSpecifiques_show') }}" style="color: rgb(244,248,33);">Rapport</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('joueurs_show') }}" style="color: rgb(244,248,33);">Joueur</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" style="color: rgb(244,248,33);background-color: rgba(188,142,24,0);">Effectif</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('contrats_show') }}" style="color: rgb(244,248,33);background-color: rgba(188,142,24,0);">Contrat</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('clubs_show') }}" style="color: rgb(244,248,33);background-color: rgba(188,142,24,0);">Club</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1" role="presentation">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('commentaire_show') }}" style="color: rgb(244,248,33);background-color: rgba(188,142,24,0);">Commentaires</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto" style="float:right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="navbar-text">
                            Bonjour {{ app.user.username }}
                            {% if (app.user.roles.0 == "ROLE_ADMIN") %} (role : Admin )
                            {% else %} (role : Client ) {% endif %}
                        </span>
                        <a class="btn btn-outline-success" type="button" href="{{path('app_logout') }}">
                            Se déconnecter
                        </a>
                    {% else %}
                        <a class="btn btn-outline-success" type="button" href="{{ path('app_login') }}">
                            Se connecter
                        </a>
                        {# <a class="btn btn-outline-success" type="button" href="{{ path('app_register') }}">
                               s'inscrire
                               </a> #}
                                {# <a class="btn btn-outline-success" type="button" href="{{ path('changePassword') }}">
                                     mot de passe oublié
                               </a> #}
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>





 {# <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TP web <span style="color:#ff0000;">  Menu Admin </span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("joueurs_show") }}"><h4>Joueur</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("clubs_show") }}"><h4>Club</h4></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("contrats_show") }}"><h4>Contrat</h4></a>
            </li> #}

            {# <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownCommandes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Employés
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownCommandes">
                    <a class="dropdown-item" href="{{path('employe_list') }}">Afficher les employés (V1)</a>
                    <a class="dropdown-item" href="{{path('employe_v2_list') }}">Afficher les employés (V2)</a>
                </div>

            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="DropdownCommande" data-toggle="dropdown" role="button"  aria-haspopup="true" aria-expanded="false">
                        Départements
                    </a>
                    <div class="dropdown-menu" aria-labelledby="DropdownCommandes">
                        <a class="dropdown-item" href="{{path('departement_list') }}">Afficher les départements</a>
                        <a class="dropdown-item" href="{{path('departement_showdetails') }}">Vue détaillée des départements</a>
                    </div>
                </li>
            {% endif %} #}
        {# </ul>

        <ul class="nav navbar-nav navbar-right">
            <!-- Authentication Links -->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="navbar-text">
                    Bonjour {{ app.user.username }}
                    {% if (app.user.roles.0 == "ROLE_ADMIN") %} (role : Admin )
                    {% else %} (role : Client ) {% endif %}
            </span>
                <a class="btn btn-outline-success" type="button" href="{{path('app_logout') }}">
                    Se déconnecter
                </a>

            {% else %}
                <a class="btn btn-outline-success" type="button" href="{{ path('app_login') }}">
                    Se connecter
                </a>
                {# <a class="btn btn-outline-success" type="button" href="{{ path('app_register') }}">
                    s'inscrire
                </a> #}

                {# <a class="btn btn-outline-success" type="button" href="{{ path('changePassword') }}">
                    mot de passe oublié
                </a> #}
            {# {% endif %}

        </ul>
    </div>
</nav> #}

