{% extends('layout.html.twig') %}

{% block body %}
  <body>
<section id="container">

  <section id="main-content-acc">
    <section  style="margin-left: 150px; width: 90%" class="wrapper">
      <div class="row">
        <div class="col-lg-8 ">
          <div class="row">
            <h1 style="margin-left: 250px; font-size: 60px; color: #171a1d"><strong>Accès Rapide</strong></h1>
            <br>
            <!-- Creer Un Rapport -->
            <div class="col-md-6 col-sm-6 mb">
              <div class="darkblue-panel pn">
                <div class="darkblue-header">
                  <h3 style="color: #F9F9FF">Créer un Rapport Spécifique</h3>
                </div>
                <img src="{{ asset('images/rapportImage.jpg') }}" height="100" width="130" alt="">
                <br>
                <br>
                <a class="btn btn-success" style="height: 40px; width: 130px; font-size: 18px" href="{{ path('matchs_add') }}"><strong>Création</strong></a>
              </div>
            </div>

            <!-- Voir La Liste Des Joueurs -->
            <div class="col-md-6 col-sm-6 mb">
              <div class="darkblue-panel pn">
                <div class="darkblue-header">
                  <h3 style="color: #F9F9FF" >Liste des Joueurs</h3>
                </div>
                <img src="{{ asset('images/joueurImage.png') }}" height="100" width="130" alt="">
                <br>
                <br>
                <a class="btn btn-success"  style="height: 40px; width: 280px;font-size: 18px" href="{{ path('joueurs_show') }}"><strong>Accéder à La liste des joueurs</strong></a>
              </div>
            </div>
          </div>


         <div class="row">
            <!-- Les Rapports Specifique -->
            <div class="col-md-6 col-sm-6 mb">
              <div class="darkblue-panel pn">
                <div class="darkblue-header">
                  <h3 style="color: #F9F9FF">Les Rapports Specifiques</h3>
                </div>
                <img src="{{ asset('images/rapportPlusieurs.png') }}" height="100" width="130" alt="">
                <br>
                <br>
                <a class="btn btn-success"  style="height: 40px; width: 320px;font-size: 18px" href="{{ path('rapportSpecifiques_show') }}"><strong>Accéder aux rapports specifiques</strong></a>
              </div>
            </div>

            <!-- Notifications -->
            <div class="col-md-6 col-sm-6 mb">
              <div class="darkblue-panel pn">
                <div class="darkblue-header">
                  <h3 style="color: #F9F9FF" >Gestion du Club</h3>
                </div>
                <div class="row">
                  <img src="{{ asset('images/imageSochauxClub.jpg') }}" height="100" width="130" alt="">
                  <br>
                  <br>
                  <a class="btn btn-success"  style="height: 40px; width: 280px;font-size: 18px" href="#"><strong>Accéder à la gestion du club</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ds" style="margin-top: 120px">
        <div class="row">
            <div class="donut-main">
              <h3>Liste des Notifications Récentes</h3>
              <span>Il y a {{ nbNotification }} notification(s) </span>
              <br>
              <br>
              <table class="table" , style="margin: auto">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Joueur</th>
                  <th>Note</th>
                  <th>Rapport</th>
                  <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for notification in notifications %}
                  <tr>
                    <td>{{ notification.dateEnvoie ? notification.dateEnvoie|date('d/m/Y') : '' }}</td>
                    <td> <strong>{{ notification.rapportSpecifique.joueur }}</strong>  {{ notification.rapportSpecifique.joueur.prenom }}</td>
                    <td><strong>{{ notification.rapportSpecifique.noteJoueur }}/20</strong></td>
                    <td><a href="{{ path('rapportSpecifique_show' , {'id' : notification.rapportSpecifique.id}) }}">Lien</a></td>
                    <td>
                      <form method="post" action="{{ path('notifications_delete_accueil', {'id': notification.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer la notification');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notification.id) }}">
                        <button class="btn btn-danger center-block ">x</button>
                      </form>
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="4">Aucune Notification </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </section>
  </section>


</section>

{% endblock %}