<HTML! doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>S3 web</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/css/Footer-Dark.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/css/Login-Box-En.css') }}" >
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}" >
        <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic') }}" >
        <link rel="stylesheet" href="{{ asset('assets/css/Navigation-with-Search.css') }}" >
        
    {% endblock %}
</head>
<body>
{% include('_nav_home.html.twig') %}
{% for message in app.flashes('info') %}
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert"></button>
        <strong> {{ message }}</strong>
    </div>
{% endfor %}
{% block body %}
    <h2 style="color:blue">layout.html.twig</h2>
{% endblock %}

{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('assets/js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}" ></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}" ></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}" ></script>
    <script src="{{ asset('assets/js/jquery.min.js') }}" ></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js') }}" ></script>
    <script src="{{ asset('assets/js/freelancer.js') }}" ></script>
{% endblock %}
</body>

</html>