<header class="header black-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
    </div>
    <!--logo start-->
    <a href="accueil.html.twig" class="logo"><b><span>FC </span>Sochaux</b></a>
    <!--logo end-->
    <div class="top-menu">
        <ul class="nav pull-right top-menu">

        </ul>
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <span class="navbar-text">
                                Bonjour {{ app.user.username }}
                    {% if (app.user.roles.0 == "ROLE_ADMIN") %} (role : Admin )
                    {% else %} (role : Client ) {% endif %}
                            </span>
                <li>
                    <a class="btn btn-outline-success" type="button" href="{{path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li>
                    <a class="logout" type="button" href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>
<!--header end-->
<!-- **********************************************************************************************************************************************************
    Le Menu Principal Hyper Important
    *********************************************************************************************************************************************************** -->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="{{ path('index_index') }}"><img src="{{ asset('images/logo_fc_sochaux.png') }}"  width="80"></a></p>
            <h5 class="centered">Gestion Recrutement</h5>
            <li class="mt">
                <a class="active" href="{{ path('index_index') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Page d'Accueil</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>Les Rapports de Match</span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('matchs_add') }}">Création d'un rapport</a></li>
                    <li><a href="{{ path('matchs_show') }}">Consultation des Rapports</a></li>

                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span>Joueurs</span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('joueurs_show') }}">Liste des Joueurs</a></li>
                    <li><a href="{{ path('joueurs_add') }}">Créer un Joueur</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Les Rapports Specifiques</span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('rapportSpecifiques_show') }}">Consulter les rapports</a></li>
                    <li><a href="{{ path('rapportSpecifiques_add') }}">Créer un rapport</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span>Clubs</span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('clubs_show') }}">Consulter les Clubs</a></li>
                    <li><a href="{{ path('clubs_add') }}">Ajouter un nouveau Club</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span>Tournois</span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('tournois_show') }}">Consulter les Tournois</a></li>
                    <li><a href="{{ path('tournois_add') }}">Ajouter un nouveau Tournoi</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-th"></i>
                    <span>Contrats</span>
                </a>
                <ul class="sub">
                    <li><a href="{{ path('contrats_show') }}">Liste des Contrats</a></li>
                    <li><a href="#">Contrats du club</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="{{ path('notifications_show') }}"><strong>Notifications</strong></a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

